<h2 class="screen-align">Addtypes</h2>
<div id="template-i783" class="row">
    <div id="template-i8jo" class="cell">
        <label id="template-i1y6" class="label">name</label>
        <input id="template-ipzj" [(ngModel)]="typesample.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-ij5o" (click)="GpCreate()" class="button btn btn-primary">create</button>
    </div>
    <div id="template-i55j" class="cell">
        <label id="template-i6t6" class="label">description</label>
        <input id="template-iqzm" [(ngModel)]="typesample.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>