<h2 class="screen-align">Addseverity</h2>
<div id="template-iwoo" class="row">
    <div id="template-ivye" class="cell">
        <label id="template-ivdx" class="label">name</label>
        <input id="template-izmo" [(ngModel)]="severitysample.name"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
        <button id="template-ixx3" (click)="GpCreate()" class="button btn btn-primary">create</button>
    </div>
    <div id="template-inql" class="cell">
        <label id="template-ixpf" class="label">description</label>
        <input id="template-ivam" [(ngModel)]="severitysample.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>